{% extends 'base.html' %}

{% block content1 %}


<div class="container-fluid mt-5 d-flex justify-content-end">
    <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#addModule">Add modules</button>

    <div class="modal fade  mt-5"  id="addModule">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center mt-2 "><h5>Add New Module</h5></div>
                <div class="modal-body">
                    <form action="">
                        <div class="mt-2">
                            <label for="ModuleName" >Module Title</label>
                            <input class="form-control mt-1" type="text" placeholder="Enter Module name" name="" id="ModuleName">
                        </div>
                        <div class="mt-4">
                            <label for="PhaseNum" id="PhaseNum">Phase</label>
                            <select class="form-select mt-1" name="" id="PhaseNum">
                                <option>Phase-I</option>
                                <option>Phase-II</option>
                                <option>Phase-III</option>
                                <option>Phase-IV</option>
                                <option>Phase-V</option>
                                <option>Phase-VI</option>
                                <option>Phase-VII</option>
                            </select>
                        </div>
                        <div class="mt-4">
                            <label for="PhaseType" >Difficulty</label>
                            <select  class="form-select mt-1" name="" id="PhaseType">
                                <option>Begginer</option>
                                <option>Intermediate</option>
                                <option>Advance</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="mt-2 d-flex justify-content-end ">
                    <button class="btn btn-primary my-3 me-2">Save Module</button>
                    <button class="btn btn-danger my-3 me-2" data-bs-dismiss="modal" >Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}
