<footer class=" text-white p-4" id="fcolor">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h5>All right reserved 2024.</h5>
            </div>
            <div class="col-6">
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="#h" class=" text-white text-decoration-none">Terms of
                            Service</a></li>
                    <li class="list-inline-item"><a href="#h" class="text-white text-decoration-none">Privacy
                            policy</a></li>
                    <li class="list-inline-item"><a href="#h" class="text-white text-decoration-none">Sitemap</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>