<header class=" text-white py-1 " id="hcolor">
    <div class="container-fluid p-3 m-0">
        <div class="row">
            <div class="col-9 col-sm-10 col-md-10 col-lg-10 ">
                <a class="text-decoration-none text-white" href="index.html">
                    <h1 class="ms-2">Cybersecure Solution</h1>
                </a>
            </div>
            <div class="col-3 col-sm-10 col-md-10 col-lg-2 d-flex justify-content-end">
                <button class="my-3 px-3 "><b>Login</b></button>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-dark  navbar-expand-md navbar-expand-lg justify-content-end mb-2">
        <div class="container m-0">
            <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">

                    <li class="nav-item"><a class="nav-link " href="learn.html">Path</a></li>
                    <li class="nav-item"><a class="nav-link " href="Lview.html">Learning view</a></li>
                    <li class="nav-item"><a class="nav-link active " href="modules.html">Modules</a></li>
                    <li class="nav-item"><a class="nav-link " href="">Lab Environment</a></li>
                    <li class="nav-item"><a class="nav-link " href="">Laborious</a></li>
                    <li class="nav-item"><a class="nav-link " href="">Subscription</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>